.goodBackground {
    background-image: url('img/Background.png');
}

.fillSpace {
    width:100%; 
    height:100%;
}

.hello-left{
    padding-left: 0;
}

.no-padding-rigth {
    padding-right: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.color-white {
    color: white;
}